<div class="container" *ngIf="post">
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <article class="article-post">
                <div class="article-header">
                    <h1 class="article-title" *ngIf="post.title">{{post.title}}</h1>
                    <img class="article-img" src={{post.image}} alt="">
                    <div class="article-meta">
                        <span class="meta-date"><i class="far fa-clock"></i> May 20, 2023</span>
                        <span class="meta-category " *ngFor="let tag of tags"> <i class="far fa-folder"></i> {{tag ? post.tags : 'No tags'}}</span>
                    </div>
                </div>
                <div *ngIf="isOwner">
                    <button (click)="delete()" class="btn delete-btn">Delete</button>
                    <button class="btn edit-btn" *ngIf="!editMode" (click)="toggleEditMode()">Edit</button>
                    <button *ngIf="editMode" (click)="saveChanges()" class="btn save-btn">Save</button>
                </div>
                <div class="article-content">
                    <ng-container *ngIf="!editMode; else editModeTemplate">
                        <p>{{ post.description }}</p>
                    </ng-container>
                    <ng-template #editModeTemplate>
                        <textarea [(ngModel)]="editedDescription"></textarea>
                    </ng-template>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-lg-4">
            <aside class="sidebar">
                <!-- Sidebar content -->
            </aside>
        </div>
   


        <div class="col-md-4 col-lg-4">
            <aside class="sidebar">
                <div class="widget">
                    <h5 class="widget-title">About Me</h5>
                    <div class="widget-content">
                        <a href="/about">Hello there! My name is Boyan, and I'm delighted to welcome you to my online
                            development blog.</a>
                    </div>
                </div>
                <div class="widget">
                    <h5 class="widget-title">Categories</h5>
                    <div class="widget-content">
                        <ul class="list-unstyled">
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Photography</a></li>
                            <li><a href="#">Miscellaneous</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget">
                    <h5 class="widget-title">Tags</h5>
                    <div class="widget-content">
                        <ul class="list-unstyled tag-cloud">
                            <li><a href="#">Bootstrap</a></li>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Development</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>