<div class="form_wrapper">
  <div class="form_container">
    <div *ngIf="registerError" class="errorContainer fade-in">
      <p class="error-text">{{ registerError }}</p>
      </div>
    <div class="title_container">
      <h2>Registration Form</h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form [formGroup]="form" (ngSubmit)="register()">
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
            <input type="email" name="email" placeholder="Email" required formControlName="email" />
          </div>
          <ng-container *ngIf="form.get('email')?.touched">
            <p class="error" *ngIf="form.get('email')?.errors?.['required']">
              Email is required!
            </p>
            <p
              class="error"
              *ngIf="form.get('email')?.errors?.['appEmailValidator']"
            >
              Email is not valid!
            </p>
          </ng-container>
          <div [formGroupName]="'passGroup'">
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="password" placeholder="Password" required formControlName="password" />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="repass" placeholder="Re-type Password" required formControlName="rePassword" />
            </div>
            <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched">
              <p
                class="error"
                *ngIf="form.get('passGroup')?.errors?.['matchPasswordsValidator'] ||
                 form.get('passGroup')?.get('rePassword')?.errors?.['required']"
              >
                Repeat Password does not match password!
              </p>
            </ng-container>
          </div>
          <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
            <p
              class="error"
              *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']"
            >
              Password is required!
            </p>
            <p
              class="error"
              *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']"
            >
              Password must be at least
              {{
                form.get('passGroup')?.get('password')?.errors?.['minlength']?.['requiredLength']
              }}
              characters!
            </p>
          </ng-container>
        <!-- ... Other input fields ... -->

<!-- ... Other input fields ... -->

          <div class="row clearfix">
            <div class="col_half">
                
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="firstName" placeholder="First Name" required formControlName="firstName" />
              </div>
              <ng-container *ngIf="form.get('firstName')?.touched">

              <p
              class="error"
              *ngIf="form.get('firstName')?.errors?.['required']"
            >
              FirstName is required!
            </p>
              </ng-container>
            </div>
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="lastName" placeholder="Last Name" formControlName="lastName" />
              </div>
            </div>
          </div>
       
          
          <div class="input_field checkbox_option">
            <input type="checkbox" id="cb1">
            <label for="cb1">I agree with terms and conditions(optional)</label>
          </div>
          <div class="input_field checkbox_option">
            <input type="checkbox" id="cb2">
            <!-- <label for="cb2">I want to receive the newsletter</label> -->
          </div>
          <input class="button" type="submit" value="Register" />
        </form>
      </div>
    </div>
  </div>
</div>