<!-- <div className='body'>
    <section className="upload-section">
        <div className="wrapper">
            <p className="logoCreate">Create Post</p>
            <form className="form-area"  encType="multipart/form-data">
                <div className="input-wrapper">
                    <p>Title</p>
                    <div className="input-ctr">
                        <input type="text"  placeholder="Enter Title" />
                    </div>
                </div>
                <div className="input-wrapper">
                    <p>Location</p>
                    <div className="input-ctr">
                        <input type="text"  placeholder="Enter Location" />
                    </div>
                </div>
                <div className="input-wrapper">
                    <p>Tags</p>
                    <div className="input-ctr">
                        <input type="text" placeholder="Enter Tags" />
                    </div>
                </div>
                <div className="input-wrapper">
                    <p>Image URL</p>
                    <div className="input-ctr">
                        <input type="file" name='image'  placeholder="Enter Image URL" />
                    </div>
                </div>
                <div className="textarea-wrapper">
                    <p>Description</p>
                    <div className="textarea-ctr">
                        <textarea
                            name="description"
                            id=""
                            cols="30"
                            rows="10"
                            placeholder="Add Description"
                           
                        ></textarea>
                    </div>
                    <button className="button-upload" type='submit'>Upload</button>
                </div>
            </form>
        </div>
    </section>
</div > -->