@media screen and (max-width: 1000px) {
  // .header {
  //   position: fixed;

  //   /* other styles... */
  // }

  /* Add a hamburger button */
  .hamburger {
    z-index: 1000;
    font-weight: bold;
    border: 1px solid #fff;
    border-width: 2px;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  /* Adjust the position and style of the hamburger icon */
  .hamburger::before {
    content: '☰';
    text-align: center;
    display: block;
    width: 100%;
    height: 3px;
    color: wheat;
    position: absolute;
    left: 0;
    transition: all 0.2s ease-in-out;
  }

  .hamburger::before {
    top: 0;
  }

  .hamburger::after {
    bottom: 0;
  }

  /* Rotate the hamburger icon when it is active */
  .hamburger.active::before {
    transform: rotate(45deg);
    top: 50%;
  }

  .hamburger.active::after {
    transform: rotate(-45deg);
    bottom: 50%;
  }

  .hamburger.active {
    transform: rotate(360deg);
  }

  /* Show the header when the hamburger is active */
  .header.active {
    top: 0;
  }
}

/* Add this CSS to adjust the layout */
@media screen and (min-width: 1000px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    /* Adjust this value to change the width of the aside */
    background-color: #5FCB71;
    // padding: 20px;
    box-sizing: border-box;
  }

  // Image
  .header img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 100%;
    max-width: 170px;
  }

  // biography
  .biography {
    text-align: center;
    color: #fff;
    font-family: 'Fira Code', monospace;
    margin-top: 20px;
  }

  //logo
  .header h1 {
    text-align: center;
    color: #f5f2f2;
  }

  // Navigation
  .header nav ul {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    list-style: none;
    padding: 0;
    margin: 30px 0 0;
  }

  .header nav li a {
    font-size: 20px;
    display: block;
    padding: 10px 0;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }

  .header nav li a:hover {
    color: #000;
  }

  // Social List
  .social-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 30px 0 0;
  }


  .social-list li {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    padding-left: 0;
    list-style: none;
    margin-right: .5rem;
    overflow: hidden;
    height: 34px;
    width: 34px;
  }

  hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
  }

  .social-list li:last-child {
    margin-right: 0;
  }

  .social-list li svg {
    width: 16px;
    height: 16px;
  }


  .social-list li a {
    display: block;
    height: 1em;
    padding: 10px;
    color: #5FCB71;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Menu Slide Down
  .slide-down {
    animation-name: slideDown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

// Responsive
@media screen and (max-width: 1000px) {

  /* Show the header when the screen size is less than 700px and the height is at least 700px */
  .header {
    // display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: #5FCB71;
    box-sizing: border-box;
    z-index: 9999;
    justify-content: flex-start;
    align-items: center;
  }


  .header h1 {
    margin: 0;
    padding-bottom: 20px;
    color: #f5f2f2;
  }

  // Logo
  .logo {
    background-color: #5FCB71;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    border-radius: 50%;
    max-width: 160px;
    width: 160px;
  }

  .biography {
    text-align: center;
    color: #fff;
    font-family: "Fira Code", monospace;
    margin-top: 20px;
  }

  .social-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 30px 0 0;
  }


  .social-list li {
    background-color: #fff;

    border-radius: 50%;
    display: inline-block;
    padding-left: 0;
    list-style: none;
    margin-right: .5rem;
    overflow: hidden;
    height: 34px;
    width: 34px;
  }



  .social-list li:last-child {
    margin-right: 0;
  }

  .social-list li svg {
    color: #5FCB71;
    width: 16px;
    height: 16px;
  }

  .social-list li a {
    display: block;
    height: 1em;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  hr {
    height: 1px;
    width: 1000px;
    border-top: 1px solid #fff;

    margin: 1rem 0;
    color: inherit;

    opacity: .25;
  }

  .menu-button {
    color: #f5f2f2;
    font-size: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .always-visible {
    opacity: 1;
    visibility: visible;

  }

  .header nav {
    display: inline;
    position: absolute;

    left: 0;
    width: 100%;
    background-color: #5FCB71;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

  }

  .header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }



  .header nav li a {
    font-size: 20px;
    display: block;
    padding: 10px 0;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }

  .header nav li a:hover {
    color: #000;
  }

  .header.show-nav nav {
    display: block;
  }


  // /* Hide all elements inside header except the div with class "logo" */
  // .header *:not(.logo):not(h1):not(.hamburger) {
  //   display: none;
  // }

}