<section class="menu-section">
    <div>
        <h2>DevBlog - A Blog Template Made For Developers</h2>
        <p>Welcome to my blog. Subscribe and get my latest blog post in your inbox.</p>
        <div class="content">
            <nav class="navbar">
                <li><a href="">Login</a></li>
                <li><a href="">Register</a></li>
                <li><a href="">Create</a></li>
                <li><a href="">My Profile</a></li>
                <!-- <li><a href=""></a></li> -->
            </nav>
            <!-- <button class="sub-btn" (click)="subNotification()">Subscribe</button> -->
        </div>
    </div>
</section>