<section class="menu-section">
    <div>
        <h2>DevBlog - A Blog Template Made For Developers</h2>
        <p>Welcome to my blog. Subscribe and get my latest blog post in your inbox.</p>
        <div class="content">
            <nav class="navbar">
                <li><a href="/">Home</a></li>

                <li *ngIf="!isLoggedIn"><a href="/login">Login</a></li>
                <li *ngIf="!isLoggedIn"><a href="/register">Register</a></li>
                <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>

                <li *ngIf="isLoggedIn"><a href="/create">Create</a></li>
                <li *ngIf="isLoggedIn"><a href="">My Profile</a></li>
                <!-- <li><a href=""></a></li> -->
            </nav>
            <!-- <button class="sub-btn" (click)="subNotification()">Subscribe</button> -->
        </div>
    </div>
</section>